[submodule "python/uni_colab"]
	path = python/uni_colab
	url = git@github.com:LaurenceGA/uni_colab.git
[submodule "python/Semester 2/projects/linalg"]
	path = python/Semester 2/projects/linalg
	url = git@github.com:LaurenceGA/linalg.git
